<md-card class="post">
    <md-card-header>
      <md-card-avatar>
        <img ng-src="{{page.profilePic}}"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{page.name}}</span>
        <span ng-if="post.created_time && !post.scheduled_publish_time" class="md-subhead">
            Created at: {{createdTime}}
        </span>
        <span ng-if="post.scheduled_publish_time" class="md-subhead">
            Scheduled for: {{scheduledTime}}
        </span>
      </md-card-header-text>
    </md-card-header>
    <div class="photo-container">
        <img class="photo" nf-if="post.type === 'photo'" ng-src="https://graph.facebook.com/{{post.object_id}}/picture" class="md-card-image">
    </div>
    <md-card-content>
      <p>
        {{post.message}}
      </p>
    </md-card-content>
    <md-card-actions ng-if="post.views" layout="row" layout-align="end center">
        <span class="md-subhead">Views: {{post.views}}</span>
   </md-card-actions>
</md-card>
