html, body {
    background-color: #ECEFF1;
}

md-card-title-media {
    margin-left: 10px !important;
}

md-input-container {
    margin-bottom: 0px;
}

.md-date-picker-button {
    padding: 0px;
    margin: 0px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 66%;
}

.login h1 {
    font-size: 40px;
    opacity: .8;
    margin-bottom: 0px;
}

.login .subheading {
    font-size: 20px;
    opacity: .5;
    margin-bottom: 20px;
}

.pages {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}

.pages .page-card {
    width: 335px;
}

.posts {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}

.posts h2 {
    opacity: .8;
    margin-top: 40px;
}

.posts .inner {
    width: 90%;
    max-width: 515px;
}

.posts .new-post {
    margin-bottom: 0px;
}

.posts .date-picker {
    margin-left: -17px;
}

.posts .time-picker {
    margin: 0px !important;
}

.posts .schedule-button {
    margin-left: 25px !important;
}

.posts .fan-bar {
    margin-top: 15px;
}

.posts .alert {
    font-size: 14px;
    opacity: .75;
    margin-top: 15px;
}

.post .photo-container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.post .photo {
    height: auto !important;
    width: auto !important;
    max-width: 90% !important;
    max-height: 300px !important;
}
