<div ng-show="status===null">
    Loading...
</div>

<div ng-show="status===false">
    <h2>Welcome to Primetime</h2>

    <button ng-click="login()">Continue with Facebook</button>
</div>

<div ng-show="status===true && chosenPage===null">
    <div ng-if="!user.pages">
        Loading pages...
    </div>

    <div ng-if="user.pages && user.pages.length == 0">
        No pages
    </div>

    <div ng-if="user.pages && user.pages.length > 0" ng-repeat="page in user.pages">
        <h3>{{page.name}}</h3>
        <i>{{page.category}}</i>
        <button ng-click="selectPage(page)">Manage</button>
    </div>
</div>

<div ng-if="chosenPage">
    <story-card ng-if="chosenPage.posts" post="post" ng-repeat="post in chosenPage.posts"></story-card>
</div>
